PyYAML
requests
urllib3
lxml
coverage
requests-mock
Flask>=3
werkzeug
firebase-admin
mock-firestore
pytest-mock
pytest
pylint
requests-random-user-agent
jsonpath-ng
backoff
pytz
beautifulsoup4
webdriver-manager
apprise
python-dotenv
undetected-chromedriver
prompt-toolkit
ruamel.yaml
pyright
types-beautifulsoup4==4.12.0.20241020
selenium==4.27.1
gunicorn==23.0.0
git+https://github.com/flask-api/flask-api.git@develop#egg=flask-api
setuptools
certifi
jinja2
cryptography
pydantic
